.article-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .subscribe {
    float: left !important;
    text-decoration: underline;
    color: rgb(33, 30, 30);
  }

  .post-title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
  }

  .search-icon {
    width: 30px;
    height: 25px;
    position: absolute;
    right: 10px;
  }
}


.article-main-container {
  display: flex;
  padding-left: 100px;
  padding-right: 50px;


  .content {
    width: 55%;
  }

  .reference {
    width: 30%;
    text-align: left;
  }
}

.author-info {
  display: flex;
  .avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    top: 30px;
    box-shadow: 1px 1px 1px #818F99;
  }

  .post-info {
    margin-top: 5px;
    margin-left: 15px;

    .title {
      color: red;
      margin-bottom: 5px;      
    }

  }
}

.content .title-paragraph {
  color: red;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
}

#paragraph {
  text-align: justify;

  #tile {
    border-radius: 9px;
    background-color: rgb(255, 255, 1);
    padding: 6px 10px;
  }

  #note {
    border: 1px solid black;
    padding: 13px;
    border-radius: 10px;
  }
}
#caption-image {
  text-align: center;
  font-style: italic;
}
.content .date {
  font-style: italic;
  opacity: 0.8;
}

.content img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.9);
}

p,
i,
b {
  text-align: justify;
}

.highlight {
  margin-top: 35px;
}

.reference {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  right: 0;

  .general-info {

    border-radius: 7px;
    background-color: antiquewhite;
    padding: 0px 12px 15px 4px;
    margin: 15px 10px 10px 0px;
  }

  .related-category {
    ul {
      padding: 0;
      list-style-type: none;
    }
  }
}

.footer-container {
  height: 50px;

}
.social-media-icons {
  display: flex;
  justify-content: center;
  width: 100%;
}
.social-media-icon {
  width: 30px;
  height: 30px;
  margin-right: 14px;

  &:nth-child(3) {
    width: 35px;
    height: 35px;
    margin-left: 3px;
    margin-top: -3px;
  }
  &:hover {
    cursor: pointer;
    transition: 0.6 ease;
    transform: scale(1.2);
  }
}
@media (max-width: 750px) {
  /* For Blog page */
  .article-container .article-header {
    grid-template-columns: 1fr !important;
  }

  .post-title {
    margin-top: 15px;
  }

  .article-main-container {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;

    .content, .reference {
      width: 100% !important;
    }

    .reference {
      position: relative;
    }

    .content .date {
      margin-top: 0px;
    }
  }
}